.JGB {display: flex;
justify-content: center;}




.navigationbar {
  display: flex;
  width: 400px;
  height: 40px;
  padding: 0;
  margin: auto;
  justify-content: center;
  align-items: center;}

  .navigationbar > div {
  height: 30px;
  line-height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: blue;
  flex: 1 1 auto;
  border-radius: 10px;
  text-align: center;
  margin: 5px; /* and that, will result in a 10px gap */}

  .navigationbar > div:hover {
  background-color: rgb(245, 232, 237);
font-size: 120%;
padding: 2%}






.ProductImages {display:grid;
  padding-top: 2cm;
  padding-left: 6cm;
  padding-right: 4cm;}





  .Producttext {display:grid;
  padding-top: 2cm;
  padding-left: 5cm;
  padding-right: 4cm;
text-align: center;
color: white;
font-size: x-large;}






.Viewbutton > div:hover {
  background-color: rgb(245, 232, 237);
font-size: 120%;
padding: 2%}

.Viewbutton {display:grid;
  padding-top: 2cm;
  padding-left: 5cm;
  padding-right: 4cm;
text-align: center;
color: rgb(186, 246, 255);
font-size: x-large;}